<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/boot.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <style type="text/css"></style>
</head>
<body>
<div class="container jumbotron bg-dark">
    <div class="row">
        <div>
            <a href="/" id="icon4" class="fa fa-envelope"> </a><label class="text-white"> <big><big><big>info@a+achieversschool.com</big></big></big></label>
        </div>
        <div class="ml-auto">
            <a href="/" id="icon3" class="fa fa-facebook"></a>

        </div>
        <div class=" ml-auto">
            <a href="/" id="icon2" class="fa fa-twitter"></a>

        </div>
        <div class=" ml-auto">
            <a href="/" id="icon1" class="fa fa-instagram"></a>

        </div>
        <div class=" ml-auto">
            <a href="/" id="icon0" class="fa fa-whatsapp"></a>

        </div>
    </div>
</div>
</body>
</html>