<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/boot.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <style type="text/css"></style>
</head>
<div>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.png" class="img-fluid img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav">
            <li class="navbar-item text-white">
                <a class="nav-link" href="/"> HOME |</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="/"> ABOUT US |</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link " href="login.html"> LOG IN |</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link " href="/view_bookings"> VIEW EXAMS</a>
            </li>
        </ul>
    </div>
</nav>
<br>
</body>
</div>
</html>