<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A+ ACHIEVERS</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/boot.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <style type="text/css"></style>
</head>
<body class="" background="../static/images/bg4.jpeg">
{% include "header.html" %}
<div class="container">
    <h1 class="text-center bg-transparent container text-danger font-weight-bold" id="hd">A+ ACHIEVERS VIRTUAL SCHOOL</h1>
    <p>
        <marquee behavior="" direction="">
            <b>MOTTO: </b><i>EXCELLENCE IS OUR COMMITMENT</i>
        </marquee>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-info">
                    <div class="card-body">
                        <div class="card-title bg-secondary"><h5 class="text-center font-weight-bold text-white">Reserve an exam</h5></div>
                        <p class=" text-white ">Reserve an exam with us which will be examined and marked by our experienced and qualified teachers.</p>           </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-info">
                    <div class="card-body">
                        <div class="card-title bg-secondary"><h5 class="text-center font-weight-bold text-white">Need, supreme and quality exam performance?</h5></div>
                        <div><p class="text-center text-white">Come and join us. You will receive excellent exams and revision materials set by experienced teachers.</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-info">
                    <div class="card-body">
                        <div class="card-title bg-secondary"><h5 class="text-center font-weight-bold text-white">Book For Exams</h5></div>
                        <p class=" text-white ">Book for our termly set examinations which are done online under the full supervision of our school management.</p>
                        <a href="/book"  type="button" class="btn btn-outline-success text-white">Book here</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>
    <div class="section-container">
    <div class="row">
            <div class="col-md-4">
                <div class="card bg-info">
                     <div class="card-body">
                <div class="card-title bg-secondary"><h4 class="text-center font-weight-bold text-white">Contact Us(FAQ)</h4></div>
                <p class=" text-white">Write to us if you may be having any questions.We value your opinion. Come be part of our community.</p>
                <a href="/contact"  type="button" class="btn btn-outline-danger text-white">Click here</a>
            </div>
                </div>
            </div>

        <div class="col-md-4 ">
        <div class="card bg-info">
            <div class="card-body">
                <div class="card-title bg-secondary"><h4 class="text-center font-weight-bold text-white">Location</h4></div>
                <p class=" text-white">Having trouble reaching us? Get us on google maps.<br>Let the school reach you.</p>
                <a href="/"  type="button" class="btn btn-outline-danger text-white">Click here</a>
            </div>
        </div>
        </div>
    </div>
    </div><br><br>
</div>
    <div>
</div>
{% include "footer.html" %}
</body>
</html>