<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A+ ACHIEVERS REGISTER</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/boot.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <style type="text/css"></style>
</head>
<body>

<div class="section-1-container section-container">
<div class="row">
    <div class="col-6 offset-1 col-lg-6 offset-lg-3 div-wrapper d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body bg-transparent card-body-book">
                <div class="card-title">Registration Details</div>
                <form action="" method="post" class="card bg-light">
                    <div class="form-row">
                        <div class="col-md-6-mb-1">
                            <label>Email Address</label>
                            <input type="text" class="form-control" name="email" placeholder="Input your email address" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6-mb-1">
                            <label>Password</label>
                            <input type="text" class="form-control" name="password" placeholder="Input your password" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6-mb-1">
                            <label>Confirm Password</label>
                            <input type="text" class="form-control" name="confirm password" placeholder="Confirm your password" required>
                        </div>
                    </div>
                    <br>
                    <input type="submit" name="signup" class="btn btn-secondary col-md-4" value="Register">
                    <center>
                        <p><i>Already have an account?</i></p>
                        <a href=""><input type="submit" name="login" value="Login Here" class="btn btn-primary"></a>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>