<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>happyland hotel</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/boot.js"></script>
	<script type="text/javascript" src="js/popper.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             <a class="navbar-brand" href="#">Real Estate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Registration <span class="sr-only"></span></a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/checkin">Check In</a>
                   </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/viewcheckin">Checked in visitors</a>
                   </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/check_out">Check Out</a>
                   </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/search">Search visitors</a>
                   </li>
<!--                    <li class="nav-item">-->
<!--                    <a class="nav-link" href="/regout">Unregister</a>-->
<!--                   </li>-->
                </ul>
            </div>
                <div>
                   <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                   </li>
                </div>
            </nav>
        </div>
    </div>
    <section class="container">
        <h1 class="jumbotron text-center">REAL ESTATE</h1>
    </section>
    <div class="container">
</body>
</html>